/* ============ Fonts ================= */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* ============= Components ============= */
@import url("components/variables.css");
@import url("components/header.css");
@import url("components/hero.css");
@import url("components/skills.css");
@import url("components/portfolio.css");
@import url("components/methodology.css");
@import url("components/footer.css");
@import url("components/project.css");
@import url("components/about.css");
@import url("components/contact.css");

/* ================= Base =============== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-body);
  font-family: var(--font);
}

h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-bold);
}

h2 {
  font-size: var(--font-h2);
  font-weight: var(--font-semi-bold);
}

h3 {
  font-size: var(--font-h3);
  font-weight: var(--font-semi-bold);
}

h4 {
  font-size: var(--font-h4);
  font-weight: var(--font-semi-bold);
}

p {
  font-size: var(--font-p);
  font-weight: var(--font-regular);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* =========== Layout ====================== */

.section {
  min-height: 100vh;
  padding-bottom: 4rem;
}

.section-beige {
  background-color: var(--color-secondary);
  padding-top: 2rem;
}

.section-title {
  margin-top: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}


/* =========== Margin ======================== */
 .mb-4 {
   margin-bottom: var(--mb-4);
 }

 .mb-2 {
   margin-bottom: var(--mb-2);
 }

 .mb-1 {
   margin-bottom: 1rem;
 }

 .mb-0-5 {
   margin-bottom: var(--mb-0-5);
 }

 .mb-0-25 {
   margin-bottom: var(--mb-0-25);
  }


/* =============== Button ============= */
.contact-button {
  background-color: var(--color-main);
  width: fit-content;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}

.link-button {
  background-color: var(--color-main);
  width: fit-content;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 4rem auto;
  padding: 1rem;
}

.contact-button p{
  color: var(--color-text-white);
  font-weight: var(--font-bold);
}

.link-button p {
  color: var(--color-text-white);
  font-weight: var(--font-bold);
}

.btn-center {
  margin: 0 auto;
}

.about-button {
  color: var(--color-main);
  font-weight: var(--font-bold);
  font-size: var(--font-h3);
}

/*  ================= HOVER ================== */
.btn-opacity-change:hover {
  opacity: 0.85;
}

.link-color-change:hover {
  color: var(--color-secondary)!important;
}

#logo {
  transition: all 0.6s ease-out;
}

#logo:hover {
  transform: rotate(-90deg);
  transition: all 0.6s ease-in;
}

/*==========)== SCROLL BAR =============*/
::-webkit-scrollbar {
  width: .8rem;
  background-color: var(--color-text);
  /* border-radius: .5rem; */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-subtitles);
  border-radius: .5rem;
}


/* =============== Small devices ================ */
@media screen and (max-width: 900px) {
  .main-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* =============== Big devices ================ */
@media screen and (min-width: 900px) {
  .main-padding {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
