.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  flex-flow: wrap-reverse;
  margin-bottom: 4rem;
}

.about-wrapper {
  padding-bottom: 4rem;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-title {
  font-size: 4rem;
}

.about-picture {
  transform: scaleX(-1);
}

.about-grid {
  display: grid;
}

.about-data {
  margin-top: 10rem;
  margin-bottom: 14rem;
}

.quality {
  margin: 0 auto;
  /* margin-bottom: 2rem; */
}

.quality-title {
  margin-bottom: 1rem;
  color: var(--color-text-black);
}

.quality-content {
  color: var(--color-subtitles);
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 11rem;
  width: 20rem;
}


/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .about-grid {
    grid-template-columns: 1fr;
  }
  .about-intro {
    flex-basis: 100%;
  }
  .about-picture {
    flex-basis: 100%;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .about-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about-intro {
    flex-basis: 60%;
  }

  .about-picture {
    flex-basis: 30%;
  }
}
