.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap-reverse;
  min-height: calc(100vh - 5rem);
  max-height: fit-content;
  overflow: hidden;
}

.about-picture {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 75vh;
}

.about-intro {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-description {
  text-align: justify;
}

.about-title {
  font-size: 4rem;
}

.about-grid {
  display: grid;
  grid-gap: 1rem;
}

.about-data {
  margin-top: 10rem;
  margin-bottom: 14rem;
}

.quality {
  margin: 0 auto;
  /* margin-bottom: 2rem; */
}

.quality-title {
  margin-bottom: 1rem;
  color: var(--color-text-black);
}

.quality-content {
  color: var(--color-subtitles);
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}


/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .about-grid {
    grid-template-columns: 1fr;
  }
  .about-intro {
    flex-basis: 100%;
  }
  .about-picture {
    flex-basis: 100%;
    margin-top: 8rem;
  }
  .quality-content {
    width: 80vw;
  }
  .about-title {
    margin-bottom: 2rem;
  }

  .about-description {
    margin-bottom: 2rem;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .about-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about-intro {
    flex-basis: 50%;
  }

  .about-picture {
    flex-basis: 40%;
  }
  .quality-content {
    height: 11rem;
  }
}
