.services-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits-grid {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
}

.benefits-box {
  background-color: var(--color-text-white);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 2px 5px 0px var(--color-text);
  transition: opacity 0.8s, transform 0.8s ease-out 0s;
}

.benefits-icon {
  height: 5rem;
  width: 5rem;
}

.benefits-title {
  color: var(--color-text-black);
  font-weight: var(--font-semi-bold);
}

.benefits-content {
  color: var(--color-subtitles);
  text-align: center;
}

.button-center {
  margin: 0 auto;
}

/* .visibility {
transition-delay: 0s;
transition-duration: 0.8s;
}
.credibility {
transition-delay: 0.2s;
transition-duration: 0.8s;
}
.efficacity {
  transition-delay: 0.4s;
  transition-duration: 0.8s;
} */


/* ========== Small Devices ============== */
@media screen and (max-width: 930px) {
  .problems-box {
    flex-basis: 100%;
  }

  .benefits-grid {
    grid-template-columns: 1fr;
  }

  .benefits-box {
    width: 80%;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 930px) {
  .problems-box {
    flex-basis: 50%;
  }
  .benefits-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .benefits-box {
    width: 100%;
    /* min height à vérifier que ça ne casse pas tout */
    min-height: 25rem;
  }

}
