.contact-section {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.contact-title {
  padding-top: 5rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-links h4{
  color: var(--color-subtitles);
}


/* =============== Small devices ================ */
@media screen and (max-width: 900px) {
  .contact-links {
    flex-basis: 100%;
  }

  .contact-data {
    flex-basis: 100%;
  }

}

/* =============== Big devices ================ */
@media screen and (min-width: 900px) {
  .contact-links {
    flex-basis: 50%;
  }

  .contact-data {
    flex-basis: 50%;
  }

}
