.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: fit-content;
}

.contact-title {
  font-size: 4rem;
}

.contact-content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.contact-links {
  display: flex;
  flex-direction: column;
}

/* === Test Form === */

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* min-height: 60vh; */
}

.form-request {
  height: 20vh;
}

form input, textarea, button {
  font-family: var(--font);
  border: none;
  outline: none;
  font-size: var(--font-small);
  color: var(--color-text-black);
}

form input, textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--color-subtitles) 0px 1px 7px 1px;
}

form ::placeholder {
  color: var(--color-text);
  font-size: var(--font-small);
}




/* =============== Small devices ================ */
@media screen and (max-width: 930px) {

  .contact-data, .contact-form {
    flex-basis: 100%;
  }

  .contact-section {
    height: fit-content;
  }

}

/* =============== Big devices ================ */
@media screen and (min-width: 930px) {

  .contact-form {
    flex-basis: 50%;
  }

  .contact-data {
    flex-basis: 45%;
  }

  .contact-section {
    min-height: calc(100vh - 5rem);
  }


}
