#EXPERTISE {
  scroll-margin-top: 2rem;
}

.section-expertise-subtitle {
  color: var(--color-text-white);
}

.expertise-grid {
  display: grid;
}

.expertise-data {
  margin-top: 7rem;
  margin-bottom: 12rem;
}

.expertise {
  margin: 0 auto;
}

.expertise-title {
  margin-bottom: 1rem;
  color: var(--color-text-white);
}

.expertise-content {
  color: var(--color-subtitles);
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 7rem;
  width: 20rem;
}

.button-center {
  margin: 0 auto;
}


/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .expertise-grid {
    grid-template-columns: 1fr;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .expertise-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
