.footer {
  background-color: var(--color-secondary);
}

.footer-white {
  background-color: var(--color-text-white);
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logotitle {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: var(--font-bold);
  height: max-content;
}

.logotitle h2{
  font-weight: var(--font-bold);
}

.logotitle img{
  height: 2.5rem;
}

.contact-footer {
  width: max-content;
}

.contact-links a {
  color: var(--color-subtitles);
  font-weight: var(--font-bold);
}

.contact-links a:hover {
  color: var(--color-text);
}

.footer-copyright p{
  font-size: var(--font-small);
}


/* ========== Small Devices ============== */
@media screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 600px) {
  .footer-content {
    flex-direction: row;
  }
}
