.footer {
  background-color: black;
}

.footer  p, h4 {
  color: var(--color-text-white);
}
.footer  a {
  color: var(--color-main);
  width: fit-content;
}

.footer-grid {
  display: grid;
}

.footer-copyright {
  font-size: 0.75rem;
}

/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .footer-grid {
    grid-template-columns: 1fr;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}
