#logo {
height: 2rem;
}

.main-link {
  color: var(--color-dominant) !important;
}

.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: var(--color-text-black);
  position: relative;
  font-weight: var(--font-bold);
}

.navbar {
  width: 40%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
