.hero-section {
  display: flex;
  flex-flow: wrap;
  min-height: calc(100vh - 5rem);
  max-height: fit-content;
  overflow: hidden;
  align-items: center;
}

.hero-data {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-picture {
  display: flex;
  align-items: center;
  justify-content: right;
  filter: grayscale(1);
  height: 85vh;
}

.hero-picture img {
  max-height: 100%;
}

.hero-title {
  font-size: 4rem;
}

.hero-subtitle {
  color: var(--color-subtitles);
}

.hero-description {
  color: var(--color-text);
}

/* =============== Small devices ================ */
@media screen and (max-width: 900px) {
  .hero-picture {
    flex-basis: 100%;
    height: 90vh;
  }

  .hero-data {
    flex-basis: 100%;
    height: 90vh;
  }
}

/* =============== Big devices ================ */
@media screen and (min-width: 900px) {
  .hero-picture {
    flex-basis: 50%;
  }

  .hero-data {
    flex-basis: 50%;
  }
}
