.hero-section {
  height: calc(100vh - 4rem);
  display: flex;
}

.hero-data {
  padding-top: 14rem;
  width: 70%;
}

.hero-picture {
  padding-top: 5rem;
}

.hero-title {
  font-size: 4rem;
}

.hero-subtitle {
  color: var(--color-subtitles);
}

.hero-description {
  color: var(--color-text);
}
