.hero-section {
  display: flex;
  flex-flow: wrap;
  height: calc(100vh - 5rem);
}

.hero-data {
  width: 70%;
}

.hero-picture {
  display: flex;
  align-items: center;
  justify-content: right;
  filter: grayscale(1);
  height: calc(100vh - 5rem);
  max-height: fit-content;
}

.hero-title {
  font-size: 4rem;
}

.hero-subtitle {
  color: var(--color-subtitles);
}

.hero-description {
  color: var(--color-text);
}

/* =============== Small devices ================ */
@media screen and (max-width: 900px) {
  .hero-picture {
    flex-basis: 100%;
  }

  .hero-data {
    flex-basis: 100%;
    padding-top: 5rem;
  }
}

/* =============== Big devices ================ */
@media screen and (min-width: 900px) {
  .hero-picture {
    flex-basis: 50%;
  }

  .hero-data {
    flex-basis: 50%;
    padding-top: 14rem;
  }
}
