.methodology-grid {
  display: grid;
  margin-top: 7rem;
  margin-bottom: 9rem;
  grid-row-gap: 6rem;
  grid-column-gap: 2rem;
}

.methodology-step {
  padding: 1rem;
}


/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .methodology-grid {
    grid-template-columns: 1fr;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .methodology-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
