.methodology-grid {
  display: grid;
}


/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .methodology-grid {
    grid-template-columns: 1fr;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .methodology-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
