.methodology-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.methodology-grid {
  display: grid;
  margin-bottom: 3rem;
  grid-gap: 2rem;
  justify-items: center;
}

.methodology-step {
  background-color: var(--color-text-white);
  border-radius: 0.3rem;
  padding: 1rem;
}

.methodology-number {
  font-size: 3rem;
}

.methodology-step p {
  color: var(--color-subtitles);
}


/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .methodology-grid {
    grid-template-columns: 1fr;
  }

  .methodology-step {
    width: 80%;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .methodology-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
