.offers-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.offers-grid {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
}

.offers-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 3px 8px var(--color-subtitles);
}

.my-offer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-text-white);
  border: 0.5rem solid var(--color-main);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 3px 8px var(--color-subtitles);
}

.card-subtitle{
  color: var(--color-subtitles);
}

.persona-verbatim {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.persona-verbatim img {
  height: 1rem;
}

.persona-verbatim p {
  font: var(--font-small);
  text-align: left;
}



/* ========== Small Devices ============== */
@media screen and (max-width: 980px) {

  .offers-grid {
    grid-template-columns: 1fr;
  }

  .offers-box {
    width: 80%;
    min-height: 15rem;
  }

  .my-offer-box {
    width: 100%;
    min-height: 18rem;
  }

}



/* ============= Big Devices ============ */
@media screen and (min-width: 980px) {

  .offers-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .offers-box {
    width: 100%;
    min-height: 20rem;
  }

  .my-offer-box {
    width: 100%;
    min-height: 25rem;
  }

}
