.portfolio-grid {
  display: grid;
  grid-gap: 1rem;
}

.portfolio-project {
  background-color: var(--color-secondary);
  height: 30rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
}

.portfolio-title {
  margin-bottom: 0.25rem;
  font-weight: var(--font-bold);
  color: var(--color-main);
}

.portfolio-subtitle {
  color: var(--color-subtitles);
}

.portfolio-text {
  color: var(--color-text);
  font-size: var(--font-small);
}

.portfolio-data {
  height: 20%;
}

.portfolio-picture {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  height: 80%;
  transform: 0.7s;
}

.portfolio-picture img {
  width: auto;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

/* TTTTTEEEEESSSSSTTT */
.above-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25rem;
}

.hide {
  opacity: 0;
  overflow: hidden;
  display: none;
  transition: 0.8s;
}

.card-text {
  color: var(--color-text-black);
  padding: 1rem 0.5rem 1rem 1rem;
  transition: 0.8s;
}

.card-picture{
  z-index: 100;
  max-height: 25rem;
  max-width: 15rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  background-color: var(--color-secondary);
  z-index: 1;
}

.square {
  height: 20rem;
  width: 100%;
  border-radius: 0.5rem;
  justify-content: space-between;
}

.circle {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  justify-content: center;
}



/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
  .grey {
    filter: grayscale(1);
    transition: all 0.5s ease-in;
  }
}
