#PORTFOLIO {
  scroll-margin-top: 2rem;
}

.portfolio-grid {
  display: grid;
  grid-gap: 1rem;
}

.portfolio-project {
  background-color: var(--color-secondary);
  height: 30rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.portfolio-title {
  margin-bottom: 0.25rem;
  font-weight: var(--font-bold);
  color: var(--color-text-black);
}

.portfolio-subtitle {
  color: var(--color-subtitles);
}

/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}
