#PORTFOLIO {
  scroll-margin-top: 2rem;
}

.portfolio-grid {
  display: grid;
  grid-gap: 1rem;
}

.portfolio-project {
  background-color: var(--color-subtitles);
  height: 30rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.portfolio-title {
  margin-bottom: 0.25rem;
  font-weight: var(--font-bold);
  color: var(--color-text-white);
}

.portfolio-subtitle {
  color: var(--color-text-white);
}

.portfolio-matematch {
  background-image: url("../../img/projects/matematch/matematch-global.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {

  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {

  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
  .grey {
    filter: grayscale(1);
  }

  .grey:hover {
    filter: grayscale(0);
    transition: 0.7s;
  }
}
