.project-background {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* ============ Card Cover ================ */

.matematch {
  background-image: url("../../img/projects/matematch/matematch-global.jpeg");
}

.daily-ui {
  background-image: url("../../img/projects/daily-ui/daily-ui-global.jpeg");
}

.rallye {
  background-image: url("../../img/projects/rallye/rallye-global.jpeg");
}

.coop {
  background-image: url("../../img/projects/coop/coop-global.jpeg");
}




/* =========== Small Devices ================= */
@media screen and (max-width: 1006px) {

  /* .project-padding {
    padding: 0 3rem;
  }

  .project-description {
    padding: 0 1rem;
  } */

  .img-project {
    border-radius: 0.3rem;
    height: auto;
    width: 80vw;
    display: block;
    margin: 0 auto;
  }
}


/* =========== Big Devices ================= */
@media screen and (min-width: 1006px) {

  /* .project-padding {
    padding: 0 10rem;
  }

  .project-description {
    padding: 0 5rem;
  } */

  .img-project {
    border-radius: 0.3rem;
    height: auto;
    width: 50vw;
    display: block;
    margin: 0 auto;
  }
}
