.reassurance-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-list {
  display: grid;
  filter: grayscale(1);

}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
}

.brand-logo img{
  max-width: 12rem;
}

/* ========== Small Devices ============== */
@media screen and (max-width: 600px) {
  .logo-list {
    flex-direction: column;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 600px) {
  .logo-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
