.reassurance-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-list {
  display: flex;
  justify-content: space-between;
  flex-basis: auto;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center
}

.brand-logo img{
  max-width: 12rem;
}
