.services-grid {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
}

.services-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-text-white);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 2px 5px 0px var(--color-text)
}

.audit, .build {
  transition: opacity 0.8s, transform 0.8s ease-out 0s;
}

/* ========== Small Devices ============== */
@media screen and (max-width: 930px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-box {
    width: 80%;
    min-height: 20rem;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 930px) {
  .services-grid {
    grid-template-columns: 1fr 1fr;
  }

  .services-box {
    width: 100%;
    min-height: 25rem;
  }
}
