.services-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-grid {
  display: grid;
  grid-gap: 5rem;
  justify-items: center;
}

.services-box {
  background-color: var(--color-text-white);
  border-radius: 0.3rem;
  text-align: center;
  padding: 2rem;
}

.services-icon {
  height: 5rem;
  width: 5rem;
}

.services-title {
  color: var(--color-text-black);
  font-weight: var(--font-semi-bold);
}

.services-subtitle {
  text-align: left;
}

.services-content {
  color: var(--color-subtitles);
  list-style: disc;
  text-align: left;
}

.button-center {
  margin: 0 auto;
}


/* ========== Small Devices ============== */
@media screen and (max-width: 900px) {
  .problems-box {
    flex-basis: 100%;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-box {
    width: 80%;
  }
}



/* ============= Big Devices ============ */
@media screen and (min-width: 900px) {
  .problems-box {
    flex-basis: 50%;
  }
  .services-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .services-box {
    width: 100%;
  }

}
