:root {

  /* ================== Colors ================ */
  --color-main: hsl(35, 48%, 54%);
  --color-secondary: hsl(30, 29%, 84%);
  --color-body: hsl(0, 0%, 100%);

  --color-text-black: hsla(0, 0%, 0%, 100%);
  --color-text-white: hsl(0, 0%, 100%);
  --color-subtitles: hsla(0, 0%, 0%, 65%);
  --color-text: hsla(0, 0%, 0%, 50%);

  /* ================== Font Family ================ */
  --font: 'Lato', 'sans-serif';

  /* ================== Font Size ================ */
  --font-h1: 3rem;
  --font-h2: 2rem;
  --font-h3: 1.5rem;
  --font-h4: 1.25rem;
  --font-p: 1.125rem;
  --font-small: 0.938rem;


  --font-bold: 900;
  --font-semi-bold: 700;
  --font-regular: 400;

  /* ================== Margin ================ */

  --mb-6: 6rem;
  --mb-4: 4rem;
  --mb-2: 2rem;
  --mb-1: 1rem;
  --mb-0-5: 0.5rem;
  --mb-0-25: 0.25rem;
}
