:root {

  /* ================== Colors ================ */
  --color-dominant: hsl(35, 48%, 54%);
  --color-home: hsl(30, 29%, 84%);
  --color-body: hsl(0, 0%, 100%);
  --color-project-hover: ;
  --color-button-hover: ;

  --color-text-black: hsla(0, 0%, 0%, 100%);
  --color-text-white: hsl(0, 0%, 100%);
  --color-subtitles: hsla(0, 0%, 0%, 65%);
  --color-text: hsla(0, 0%, 0%, 50%);

  /* ================== Font Family ================ */
  --font: 'Lato', 'sans-serif';

  /* ================== Font Size ================ */
  --font-h1: 4rem;
  --font-h2: 2.5rem;
  --font-h3: 2rem;
  --font-h4: 1.5rem;
  --font-p: 1.5rem;


  --font-bold: 900;
  --font-semi-bold: 700;
  --font-regular: 400;

  /* ================== Margin ================ */
}
